html, body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* {
  user-select: none;
  box-sizing: border-box;
}

button {
  width: max-content;
  height: 48px;
  border: none;
  background: transparent;
}
button.custom {
  height: max-content;
}
button.block {
  width: 100% !important;
}
button.primary {
  width: 92%;
  background: #FFD600;
  color: black;
  margin: 1rem;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0 0.5rem 2rem rgba(255, 214, 0, 0.25);
  transition: all 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
button.primary:active {
  transform: scale(0.95);
}
button.w-none {
  width: auto !important;
}
button.m-only-top {
  margin: 1rem 0 !important;
}

@keyframes pulse {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  to {
    opacity: 1;
  }
}
body.dark .page {
  background: #2d2d2d !important;
}
body.dark .page .header .actions img {
  filter: invert(1) brightness(500%);
}
body.dark .page .card {
  background: #626262 !important;
}
body.dark .page .card .account-box img {
  filter: invert(1) brightness(500%);
}

.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  padding: 2rem 1rem;
  padding-bottom: 6rem;
  background: #EFEFEF;
  overflow-y: auto;
}
.page .header {
  width: 100%;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.page .header .profile {
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
}
.page .header .profile img {
  width: 48px;
  height: 48px;
  margin-right: 0.5rem;
  border-radius: 32px;
  outline: 2px solid #FFD600;
}
.page .header .profile .text {
  width: max-content;
  height: 100%;
  display: flex;
  flex-flow: column;
}
.page .header .profile .text p {
  font-weight: 500;
  font-size: 1.2rem;
  color: black;
  padding: 0;
  margin: 0;
}
.page .header .profile .text small {
  font-weight: 400;
  font-size: 0.8rem;
  color: #626262;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page .header .profile .text small span {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 24px;
  background: #FFFFFF;
  padding: 2px 6px;
  border-radius: 16px;
  color: black;
  margin: 0 0 0 0.25rem;
}
.page .header .profile .text small span img {
  width: 12px;
  height: 12px;
  outline: none;
}
.page .header .actions {
  width: max-content;
  height: 48px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.page .header .actions button.action {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page .header .actions button.action:not(:last-child) {
  margin-right: 0.5rem;
}
.page .header .actions button.action:active {
  transform: scale(0.9);
}
.page .header .actions button.action img {
  width: 100%;
}
.page .card {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  background: white;
  border-radius: 1rem;
  margin-top: 1rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
}
.page .card .card-header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.page .card .card-header h2 {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
}
.page .card .space {
  height: 1rem;
}
.page .card .btn-holder {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page .card .btn-holder button {
  padding: 0 1rem !important;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  background: rgba(255, 214, 0, 0.5);
}
.page .card .btn-holder button img {
  height: 50%;
  margin-right: 0.5rem;
}
.page .card .account-box {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: stretch;
  border: 1px solid #dfdfdf;
  border-radius: 0.5rem;
}
.page .card .account-box button.account {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.page .card .account-box button.account p.type {
  font-weight: 400;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
}
.page .card .account-box button.account .right {
  padding: 0.25rem 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
}
.page .card .account-box button.account .right p.value {
  font-weight: bold;
  font-size: 1.2rem;
}
.page .card .account-box button.account .right img {
  height: 100%;
  margin-left: 0.5rem;
}
.page .card .account-box button.account:active {
  background: #efefef;
}
.page .card .account-box button.account:not(:last-child) {
  border-bottom: 1px solid #dfdfdf;
}

body.dark *:not(button.primary, span) {
  color: white !important;
}
body.dark .page {
  background: #2d2d2d;
}